.wrapper {
  background-color: gold;
  padding: 90px;
  border-radius: 8%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

body {
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  display: flex;
  color: black;
  background-color: indigo
}

.styledup {
  display: grid;
  grid-template-columns: auto auto;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 357%;
}

h2 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 178%;
}

label {
  font-weight: bold;
}

.btn {
  cursor: pointer;
}